@import "./breakpoints";

.work {
    max-width: var(--max-width);
    padding: 0 var(--max-width--padding);
    margin: 0 auto;

    &--grid {
        display: flex;
        justify-content: space-between;
        gap: 5rem;

        @include media("<=phone") {
            flex-direction: column-reverse;
        }
    }

    &--social {
        display: flex;
        justify-content: end;
        gap: 1.125rem;
        height: max-content;

        @include media("<=phone") {
            justify-content: space-between;
            display: grid;
            grid-template-columns: 1fr;
        }

        &-link {
            font-size: 1.125rem;
            color: var(--foreground1);
            position: relative;
            padding: .4rem 2.5rem .4rem .4rem;
            will-change: transform;

            @include media("<=phone") {
                padding: .4rem 2.5rem .4rem 0;
            }

            &--icon {
                width: 45px;
                height: 45px;
                background-color: var(--background2--alpha);
                // border-radius: 5555px;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: -1;
                transition: transform .5s cubic-bezier(.5, -.5, .1, 1.5), background-color .5s ease-in-out;

                svg {
                    stroke: var(--accent--lighter);
                    will-change: transform;
                    transition: transform .5s cubic-bezier(.5, -.5, .1, 1.5), stroke .5s ease-in-out;
                    transform: rotateZ(-.13turn);
                }

            }

            &:hover {

                .work--social-link--icon {
                    transform: translateY(-50%) scale(.8);
                    background-color: var(--accent);
                }

                svg {
                    transform: rotateZ(0);
                    stroke: hsl(0, 0%, 100%);
                }
            }
        }
    }
}

.work--projects {
    max-width: var(--max-width);
    padding: 10rem var(--max-width--padding);
    margin: 0 auto;

    &-grid {
        display: grid;
        gap: 10rem;
        margin: 0 auto;
        grid-template-columns: 1fr;

        @include media("<=phone") {
            gap: 12rem;
        }
    }
}