@import "./breakpoints";

.resume {
    max-width: var(--max-width);
    padding: 0 var(--max-width--padding);
    margin: 0 auto;

    &--header {
        text-align: left;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 200px;

        @include media("<=phone") {
            padding-top: 105px;
        }
    }

    &--title {
        font-weight: 700;
        margin-top: 0;
    }

    &--title-small {
        font-size: .875rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-weight: 400;
        letter-spacing: .2em;
        color: var(--foreground2);
    }

    &--image {
        width: 100%;
        margin: 130px 0;
        pointer-events: none;
        user-select: none;

        img {
            width: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            object-position: top;
        }

        @include media("<=phone") {
            margin: 70px 0;

            img {
                aspect-ratio: unset;
            }
        }
    }

    &--grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        margin-bottom: 130px;

        @include media("<=tablet") {
            grid-template-columns: 1fr;
        }

        @include media("<=phone") {
            margin-bottom: 70px;
        }

        &-items {
            font-weight: 700;
            font-size: 1.275rem;
            line-height: 1.875rem;
            margin-top: .5rem;
        }
    }

    &--line {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 1.125rem;
        line-height: 1.5625rem;
        color: var(--foreground2);
        font-weight: 400;
        gap: .25rem;

        &:first-child {
            margin-top: 1rem;
        }

        &-header {
            font-weight: 700;
            color: var(--foreground1);
        }

        >div {
            width: calc(100% / 3 - .5rem);

            &:last-child {
                text-align: right;
            }

            @include media("<=tablet") {
                width: 100%;

                &:last-child {
                    text-align: left;
                }
            }
        }
    }

    &--list {
        display: flex;
        flex-direction: column;
        gap: .625rem;
        margin-bottom: 130px;

        &-brands {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 1rem;

            @include media("<=tablet") {
                grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
            }

            >div {
                height: 160px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--foreground2);
            }

            svg {
                width: 75%;
                height: 75%;
            }
        }

        @include media("<=tablet") {
            margin-bottom: 70px;
            gap: 1.5rem;
        }
    }

    em {
        margin: 0 .9375rem;
        font-weight: 400;
        color: var(--foreground2);
        margin: 0 .625rem;
    }
}