@import "./breakpoints";

.work {
    max-width: var(--max-width);
    padding: 0 var(--max-width--padding);
    margin: 0 auto;

    &--grid {
        display: flex;
        justify-content: space-between;
        gap: 5rem;

        @include media("<=phone") {
            flex-direction: column-reverse;
        }
    }
}

.work--projects {
    max-width: var(--max-width);
    padding: 0 var(--max-width--padding) 10rem;
    margin: 0 auto;

    &-grid {
        display: grid;
        gap: 10rem;
        margin: 0 auto;
        grid-template-columns: 1fr;

        @include media("<=phone") {
            gap: 12rem;
        }
    }
}