@import "../../assets/scss/breakpoints";

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7.5ch;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: var(--max-width);
    padding: var(--max-width--padding);
    opacity: 0;
    pointer-events: none;

    &--placeholder {
        height: 400px;
    }

    &--project {
        text-align: center;

        h3 {
            text-transform: uppercase;
            color: var(--foreground2);
            font-size: 1rem;
            margin: 0;
        }
    }

    &--link {
        display: flex;
        align-items: center;
        gap: .5em;
        color: var(--foreground1);
        transition: color .3s ease-in-out;
        position: relative;
        font-size: 3.5rem;
        font-weight: 700;

        svg {
            height: 3.5rem;
        }

        &:not(.footer--link-disabled):hover {
            color: var(--accent);
        }

        @include media("<=tablet") {
            font-size: 2.5rem;

            svg {
                height: 2.5rem;
            }
        }

        @include media("<=phone") {
            font-size: 2rem;

            svg {
                height: 2rem;
            }
        }
    }

    &--logo {
        width: 40px;
        height: 40px;

        &-background {
            color: var(--foreground1);
            transition: color .3s ease-in-out;
        }

        &-foreground {
            color: var(--background1);
            transition: color .3s ease-in-out;
        }

        &:hover {
            .footer--logo-background {
                color: var(--accent);
            }

            .footer--logo-foreground {
                color: hsl(0, 0%, 100%);
            }
        }
    }
}